.main-blog {
    margin-top: 50px !important;
}

.organic-blog__wrapper {
    margin-bottom: 50px !important;
}

.organic-blog__item {
    padding-bottom: 40px;
}

.organic-blog__image {
    width: 100%;
    border-radius: 4px;
}

.organic-blog__list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    border-top: 1px solid #f2f1f1;
    border-bottom: 1px solid #f2f1f1;
}

.organic-blog__author,
.organic-blog__comment,
.organic-blog__date {
    padding: 10px 10px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
}

.organic-blog__author {
    flex: 3;
    font-size: 1.4rem;
    color: var(--text-color);
}

.organic-blog__author-ava {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 3px;
    margin-right: 11px;
    border-radius: 50%;
}

.organic-blog__author-name {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.organic-blog__comment {
    flex: 1;
}

.organic-blog__comment i {
    color: var(--primary-text-color);
    margin: 0 5px;
}

.organic-blog__comment span {
    color: var(--text-color);
    font-size: 1.2rem;
}

.organic-blog__comment-counter {
    margin: 0 5px;
    color: var(--primary-color) !important;
    font-weight: 500;
}

.organic-blog__date {
    flex: 1;
}

.organic-blog__title {
    font-size: 2.4rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.organic-blog__btn {
    position: relative;
    height: 50px;
    width: 150px;
    background: linear-gradient(to right, #ff7e00 0%, #ffb63a 100%);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 10px;
}

.organic-blog__btn::before {
    position: absolute;
    content: "";
    right: 0;
    height: 100%;
    border-radius: 50px;
    width: 0%;
    box-sizing: border-box;
    background-color: var(--black-text-color);
    -webkit-transition: 300ms all linear 0ms;
    -khtml-transition: 300ms all linear 0ms;
    -moz-transition: 300ms all linear 0ms;
    -ms-transition: 300ms all linear 0ms;
    -o-transition: 300ms all linear 0ms;
    transition: 300ms all linear 0ms;
}

.organic-blog__btn:hover::before {
    left: 0;
    width: 100%;
}

.organic-blog__btn-link {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.organic-blog__btn-link-icon {
    transition: all linear 0.5s;
    margin-left: 10px;
}

.organic-blog__btn:hover .organic-blog__btn-link {
    color: var(--white-color);
}

.organic-blog__btn:hover .organic-blog__btn-link-icon {
    transform: translateX(10px);
}



.organic-details {
    padding: 100px 20px;
    height: contain;
}

.details-title {
    font-size: 4rem;
    line-height: 150%;
    font-family: "Merriweather", serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.details-description {
    font-size: 1.6rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 20px;
}

.details-images {
    text-align: center;
    margin-bottom: 20px;
}

.details-images img {
    width: 80%;
}

.details-article {
    width: 100%;
    float: left;
    position: relative;
    font: 400 1.6rem arial;
    line-height: 160%;
    padding: 0;
    color: #222;
}

.details-content {
    margin: 20px 5px;
    line-height: 160%;
    text-rendering: optimizeSpeed;
}

.details-author {
    padding: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
    position: relative;
}

.details-author-ava {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 3px;
    margin-right: 11px;
    border-radius: 50%;
}

.details-author-name {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.details-date {
    position: absolute;
    right: 15px;
    bottom: 28px;
    font-size: 1.6rem;
}

/*blog-item*/

.organic-comment-block {
    background-image: url("https://www.bootdey.com/img/overlay.svg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 50px;
}

.organic-comment {
    padding: 80px !important;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    position: relative;
}

.comments-title {
    font-size: 3rem;
    color: #262626;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Conv_helveticaneuecyr-bold';

}

.organic-comment__item {
    display: flex;
    padding: 20px;
    align-items: center;

}

.organic-comment__ava {
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.organic-comment__ava img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.organic-comment__content {
    flex: 1;
}

.organic-comment__name {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.organic-comment__time {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #b4b7c1;
    text-align: right;
}

.organic-comment__time i {
    margin-right: 5px;
}

.organic-comment__text {
    font-size: 1.4rem;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
    word-break: break-all;
    white-space: normal;
}

.organic-comment__input {
    padding: 20px;
    display: flex;
    align-items: center;
}

.organic-comment__input-user img {
    height: 60px;
    width: 60px;
    padding-bottom: 3px;
    margin-right: 30px;
    border-radius: 50%;
}

.organic-comment__input-text {
    padding: 20px !important;
    border-radius: 20px !important;
    flex: 1;
    font-size: 1.4rem !important;
    resize: none;
}

.organic-comment__input-text:focus {
    border-color: var(--primary-text-color) !important;
    box-shadow: 0 0 0 0.25rem rgb(253 160 13 / 25%) !important;
}

.organic-comment .organic-blog__btn {
    position: absolute;
    right: 100px;
}

@media (max-width: 768px) {
    .details-title {
        font-size: 3rem;
    }

    .organic-comment {
        padding: 80px 20px !important;
    }


    .comments-title {
        font-size: 2.4rem;
    }

    .organic-blog__title {
        font-size: 2rem;
    }

    .organic-blog__btn {
        width: 120px;
        height: 40px;
    }

    .organic-blog__btn-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .organic-blog__title{
        font-size: 1.6rem;
    }

    .organic-blog__author,
    .organic-blog__author-name {
        font-size: 1.2rem;

    }
    .organic-blog__btn {
        width: 100px;
        height: 30px;
    }

    .organic-blog__btn-link {
        font-size: 1rem;
    }
}