body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: normal;
  letter-spacing: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body li {
  list-style-type: none !important;
}

ul li {
  list-style-position: inside;
}

a {
  text-decoration: none;
}

.content-container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.cart-container {
  justify-content: center;
}

.cart-heading {
  color: #ff7e00;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  margin-bottom: 50px;
}

.cart-container table {
  width: 100%;
  margin-bottom: 50px;
}

.cart-container img {
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}



.cart-container tr:nth-child(even) {
  background-color: #f4f4f4;
}

.cart-container th {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #172017;
  padding-bottom: 20px;
  font-size: 1.4em;
  border-bottom: 1px solid black;
}

.cart-container td {
  font-family: 'Montserrat', sans-serif;
  color: #172017;  
  height: 70px;
}

.cart-col-No, .cart-col-price, .cart-col-quantity, .cart-col-remove {
  text-align: center;
}

.cart-col-product p {
  color: #ff7e00;
  font-weight: 700;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 30px;
}

.cart-col-price {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  font-weight: 700;
}

.cart-col-remove-large_screen {
  flex-grow: 1;
  background-color: #ff7e00;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  text-align: center;
  border: none;
}

.cart-col-remove-large_screen:hover {
  background-color: #111;
  transition: all 300ms linear 0ms;
}

.cart-total {
  float: right;
  display: flex;
}

.cart-total-price {
  font-weight: 700;
  color: #172017;
  line-height: 45px;
  margin-bottom: 0;
  margin-right: 50px;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
}

.cart-btn-group {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.cart-btn-group a {
  flex-grow: 1;
  background-color: #ff7e00;
  color: #fff !important;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.cart-btn-group a:hover {
  background-color: #111;
  transition: all 300ms linear 0ms;
}

.cart-btn-group a:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  margin-top: 200px;
}

.cart-col-remove-small_screen {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  outline: none;
  padding: 0;
  background-color: white;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.cart-col-remove-small_screen i {
  line-height: 18px;
  color: #ff7e00;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 768px){
  .cart-container th {
    font-size: 1em;
  }
  .cart-col-product p {
    padding-left: 0;
  }
  .cart-col-remove-large_screen {
    display: none;
  }
  .cart-col-remove-small_screen {
    display: block !important;
  }
  .cart-heading {
    font-size: 2.5em;
  }
  .cart-total {
    clear: right;
    justify-content: center;
  }  
  .cart-total-price {
    line-height: 35px;
    margin-right: 20px;
    font-size: 1em;
  }
  .cart-btn-group a {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
  }
}

@media screen and (max-width: 576px){
  .cart-col-product img {
    display: none;
  }  
}