.main {
    padding: 200px 0;
    height: 100vh;
    background-color: var(--background-color);
}

.company__info {
    padding-right: 50px !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.company__name {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
}

.company__logo {
    margin-top: 20px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-size: 80% auto;
}


.login_form {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

form {
    padding: 0 2em;
}

.login_form__name {
    font-size: 3rem !important;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form__input:focus {
    border-color: var(--primary-text-color);
    box-shadow: 0 0 5px var(--primary-color);
    border-radius: 4px;
}


.remember-group {
    flex-wrap: nowrap !important;
    align-items: center;
    margin-bottom: 20px;

}

.remember-group input {
    width: 5%;
}

.remember-group label {
    font-size: 1.2rem;
    color: var(--black-text-color);
}

.login-btn {
    font-size: 1.6rem !important;
    margin-bottom: 20px;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #008080;
    color: #fff;
}

.query {
    font-size: 1.2rem !important;
    text-align: center;
}

.query a {
    font-size: 1.4rem;
    margin-left: 5px;
}

.query a:hover,
.query a:focus {
    color: #0db5fd;
}





@media (max-width: 992px) {
    .col-md-0 {
        display: none;
    }
}
.msg {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #f02849;
}