.header {
  /* background-color: var(--black-color); */
  height: 100px;
  max-height: 100px;
  padding-top: 20px;
}
.header-logo {
}
.header-logo__link {
}
.header-logo__img {
  width: 100%;
  padding: 5px;
}
.header-logo__link:hover {

}
